.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
}

.declarationTypeInput {
    width: 35px;
}

.traderRefInput {
    width: 265px;
}

.traderRefLabel {
    margin-left: 100px;
}

.badgeLabel {
    margin-left: 100px;
}

.badgeInput {
    width: 100px;
}

.partyContainer {
    border: red 2px solid;
}

.exporterContainer {
    margin-top: 20px;
    width: 650px;
    border: grey 3px solid;
    border-radius: 5px;
}

.importerContainer {
    margin-top: 20px;
    width: 650px;
    border: grey 3px solid;
    border-radius: 5px;
}

.matPanelTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.shortCodeLabel {
    margin-left: 10px;
}

.shortCodeInput {
    margin-top: 1px;
    margin-left: 3px;
    width: 80px;
}

.nameLabel {
    margin-left: 10px;
}

.nameInput {
    margin-top: 1px;
    margin-left: 3px;
    width: 212px;
}

.partyAddressContainer{
 width: 80%;
}

.party-flex-container {
  display: flex;
  align-items: stretch;
}

.partyAdressLabel{
  flex-grow: 1;
  text-align: right;
  margin-right: 3px;
}

.partInput{
  flex-grow: 8;
}

.cityLabel {
    border-color: red;
    border-style: solid;
    border-width: 1px;
    width: 200px;
}

.cityInput {
    width: 99%;


}

.partyPostCodeCountryCodeContainer {
    margin-top: 5px;
    margin-left: -10px;
}

.countryCodeLabel {
    margin-left: 183px;
}

.countryCodeInput {
    width: 25px;
}

.partyExpansionPanel {
    width: 600px;
    margin: px;
}

.flex-item-declarationPary-left {
    width: 600px;
    flex: 0 0 475;
}

@media all and(max-width: 800px) {
    .flex-item-declarationPary-left {
        width: 350px;
        flex: 0 0 350px;
    }
}

.flex-item-declarationPary-right {
    width: 475px;
    flex: 0 0 475px;
    margin-left: 60px;
}

@media all and(max-width: 800px) {
    .flex-item-declarationPary-right {
        width: 350px;
        flex: 0 0 350px;
    }
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #aabcfe;
}
.tg td {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #aabcfe;
    color: #669;
    background-color: #e8edff;
}
.tg th {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #aabcfe;
    color: #039;
    background-color: #b9c9fe;
}

.tg .tg-lqy6 {
    text-align: right;
    vertical-align: top
}
.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}
