.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
}

.declarationTypeInput {
    width: 35px;
}

.traderRefInput {
    width: 265px;
}

.traderRefLabel {
    margin-left: 100px;
}

.badgeLabel {
    margin-left: 100px;
}

.badgeInput {
    width: 100px;
}

.partyContainer {
    border: red 2px solid;
}

.exporterContainer {
    margin-top: 20px;
    width: 650px;
    border: grey 3px solid;
    border-radius: 5px;
}

.importerContainer {
    margin-top: 20px;
    width: 650px;
    border: grey 3px solid;
    border-radius: 5px;
}

.matPanelTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.shortCodeLabel {
    margin-left: 10px;
}

.shortCodeInput {
    margin-top: 1px;
    margin-left: 3px;
    width: 80px;
}

.nameLabel {
    margin-left: 10px;
}

.nameInput {
    margin-top: 1px;
    margin-left: 3px;
    width: 212px;
}

/* .partyAddressContainer{
 width: 80%;
}

.party-flex-container {
  display: flex;
  align-items: stretch;
} */

/* .partyAdressLabel{
  flex-grow: 1;
  text-align: right;
  margin-right: 3px;
}

.partyInput{
  flex-grow: 8;
} */

/* .partyPostCodeCountryCodeContainer {
    margin-top: 5px;
    margin-left: -10px;
}

.countryCodeLabel {
    margin-left: 183px;
}

.countryCodeInput {
    width: 25px;
} */

.partyExpansionPanel {
    width: 600px;
    margin: px;
}

